body {
    background-color: #f0f2f6;
}

h1 {
    
    text-align: center;
}

.st-key-green button {
    background-color: #06a70b;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.st-key-yellow  button {
    background-color:rgb(58, 58, 2);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.st-key-green button p {
    font-weight: bold;
}

.stButton button:hover {
  border:2px solid white;
  
}